/Java/Head First Java/CH - 2/Ch2 - Code/nbproject/private/
/Java/Head First Java/CH - 2/Ch2 - Code/build/
/Java/Head First Java/CH - 5/ch5 Code/nbproject/private/
/Java/Head First Java/CH - 5/ch5 Code/build/
/Java/Head First Java/CH - 6/CH6 Code/nbproject/private/
/Java/Head First Java/CH - 5/ch6Code/nbproject/private/
/Java/Head First Java/CH - 5/ch6Code/build/
/Java/Head First Java/CH - 6/ch6Code/build/
/Java/Head First Java/CH - 6/ch6Code/nbproject/private/
/Java/Head First Java/CH - 8/Chapter8/nbproject/private/
/Java/Head First Java/CH - 8/Chapter8/build/
/Java/Head First Java/CH - 11/JavaApplication6/nbproject/private/
/Java/Head First Java/CH - 11/JavaApplication6/build/
/Java/Head First Java/CH - 12/CH-12 GUI/build/
/Java/Head First Java/CH - 12/CH-12 GUI/dist/
/Java/Head First Java/CH - 12/InnerClasses/nbproject/private/
/Java/Head First Java/CH - 12/InnerClasses/build/
/Java/Head First Java/CH - 12/SimpleAnimation/nbproject/private/
/Java/Head First Java/CH - 12/SimpleAnimation/build/
