/Java/Head First Java/CH - 2/Ch2 - Code/nbproject/private/
/Java/Head First Java/CH - 2/Ch2 - Code/build/
/Java/Head First Java/CH - 5/ch5 Code/nbproject/private/
/Java/Head First Java/CH - 5/ch5 Code/build/
/Java/Head First Java/CH - 6/CH6 Code/nbproject/private/
/Java/Head First Java/CH - 5/ch6Code/nbproject/private/
/Java/Head First Java/CH - 5/ch6Code/build/
/Java/Head First Java/CH - 6/ch6Code/build/
/Java/Head First Java/CH - 6/ch6Code/nbproject/private/
/Java/Head First Java/CH - 8/Chapter8/nbproject/private/
/Java/Head First Java/CH - 8/Chapter8/build/
/Java/Head First Java/CH - 11/JavaApplication6/nbproject/private/
/Java/Head First Java/CH - 11/JavaApplication6/build/
/Java/Head First Java/CH - 12/CH-12 GUI/build/
/Java/Head First Java/CH - 12/CH-12 GUI/dist/
/Java/Head First Java/CH - 12/InnerClasses/nbproject/private/
/Java/Head First Java/CH - 12/InnerClasses/build/
/Java/Head First Java/CH - 12/SimpleAnimation/nbproject/private/
/Java/Head First Java/CH - 12/SimpleAnimation/build/
/Java/Head First Java/CH - 15/ThreadsPlaying/nbproject/private/
/Java/Head First Java/CH - 15/ThreadsPlaying/build/
/Java/Head First Java/CH - 15/TwoPeopleOneAccount/nbproject/private/
/Java/Head First Java/CH - 15/Two People one Account Problem/RyanAndMonicaJob/nbproject/private/
/Java/Head First Java/CH - 15/Two People one Account Problem/RyanAndMonicaJob/build/
/Java/Head First Java/CH - 15/SimpleChatClient/nbproject/private/
/Java/Head First Java/CH - 15/SimpleChatClient/build/
/Java/Head First Java/CH - 15/DataStructures/nbproject/private/
/Java/Head First Java/CH - 16/JavaApplication15/nbproject/private/
/Java/Head First Java/CH - 16/DataStructures/nbproject/private/
/Java/Head First Java/CH - 16/DataStructures/build/
